# Node.js
node_modules/
dist/
dist-ssr/
.npm/
*.local

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
.env/

# Databases
*.sqlite3
*.db
backend/*.db

# Environments
.env

# IDEs and OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vite / Build outputs
frontend/dist/
frontend/dist-ssr/
.npm