fastapi
uvicorn
pandas
numpy
scikit-learn
xgboost
joblib
python-multipart
pydantic[email]
sqlalchemy
passlib[bcrypt]
bcrypt
python-jose[cryptography]
google-auth
twilio
openai
gTTS
python-dotenv
aiofiles
